<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Hotel_Angostura</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletMantHabitacion</display-name>
    <servlet-name>ServletMantHabitacion</servlet-name>
    <servlet-class>com.angostura.controlador.ServletMantHabitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMantHabitacion</servlet-name>
    <url-pattern>/ServletMantHabitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMantPaquetes</display-name>
    <servlet-name>ServletMantPaquetes</servlet-name>
    <servlet-class>com.angostura.controlador.ServletMantPaquetes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMantPaquetes</servlet-name>
    <url-pattern>/ServletMantPaquetes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUsuario</display-name>
    <servlet-name>ServletUsuario</servlet-name>
    <servlet-class>com.angostura.controlador.ServletUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUsuario</servlet-name>
    <url-pattern>/ServletUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTipoHabitaciones</display-name>
    <servlet-name>ServletTipoHabitaciones</servlet-name>
    <servlet-class>com.angostura.controlador.ServletTipoHabitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTipoHabitaciones</servlet-name>
    <url-pattern>/ServletTipoHabitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReservaHabitacion</display-name>
    <servlet-name>ServletReservaHabitacion</servlet-name>
    <servlet-class>com.angostura.controlador.ServletReservaHabitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReservaHabitacion</servlet-name>
    <url-pattern>/ServletReservaHabitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReservaPaquetes</display-name>
    <servlet-name>ServletReservaPaquetes</servlet-name>
    <servlet-class>com.angostura.controlador.ServletReservaPaquetes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReservaPaquetes</servlet-name>
    <url-pattern>/ServletReservaPaquetes</url-pattern>
  </servlet-mapping>
  
</web-app>